
h1{

	height: 70px;
	text-align: center;
	width: 
	margin: 2%;	
	color: orange;
	
	
}

body {
    font-family:'Dancing Script';
    font-size: 22px;
    background-image: url("./ImagesForBooks/bookscloseup.jpg");
    background-size: cover;
}

